/* ==========================================================================
   #PLAYER
   ========================================================================== */


.c-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: sem-color("surface", .98);
  box-shadow: var(--shadow-2);
  @include theme-transition(background-color border-color);
}

  .c-player__audio {
    width: 100%;
    display: block;
  }
