/* ==========================================================================
   #PLAYER-CONTROLS
   ========================================================================== */


.c-player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
