/* ==========================================================================
   #PLAYBACK-BAR
   ========================================================================== */


.c-playback-bar {
  display: grid;
  width: 100%;
  grid-template-columns: 40px 1fr 40px;
  grid-gap: sp();
  align-items: center;
}

  .c-playback-bar__progress-time {}

  .c-playback-bar__progress-bar {}
